a{
    text-decoration: none;
    color:#ed335f;
}
a:hover{
    color:beige;
}
a:active{
    color:black;
}
@keyframes anim{
    from {background-color: #D8A7CA;}
    to{background-color: #2E282A;}
}
body{
    margin:0;
    padding: 0;
    border:0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav{
    background-color: #D8A7CA;
    width:100%;

    display:flex;
    align-items: center;
    justify-content: space-between;
    color:#ed335f;
    font-size: 20px;
}
li{
    justify-content: space-evenly;
}
h1{
    margin-left:10%;
}
.nav-list{
    margin: 15px;
    display: flex;
    flex:.5 1 32px;
    flex-wrap: wrap;
    width:30%;
    align-items:center;
    justify-content: center;
    justify-content: space-evenly;
    
}
.nav li{
    list-style: none;
}
/* .brief{
     display: block; 
    background-image: url("https://images.unsplash.com/photo-1621839673705-6617adf9e890?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHdlYiUyMGRlc2lnbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60");
    min-height: 300px;
    margin-bottom:0;
    border: 2px solid black;
    background-repeat: no-repeat;
    background-size:100%;

}*/
.home-img img{
    display: block;
    width: 100%;
    /* border:2px solid black; */
}  

.home-img{
    display:block;
    width: 100%;
    height:600px;
    
    background-color: #D8A7CA;
    background-image: url("undraw_engineering_team_a7n2.svg");
    background-repeat: no-repeat;
    background-size:100%;
    margin:0px;
    background-size: cover;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}
.home-img h2{
    font-size:40px;
    font-weight: 700;
    color: white;
}
.home-img p{
    font-size: 30px;
    margin:10%;
    color: beige;
    margin-top:1%;
}
.designs
{
    margin-top: -3px;
    height: auto;
    width: 100%;
    background-color: #D8A7CA;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.designs h1{
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color:#D91E36;
}
 .blocks{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;

} 
.space
{

    display:flex;
    flex-wrap: wrap;

}
.block-item{ 
    background-color: whitesmoke;
    width:45%;
    margin-bottom:50px;
   
    /* border : 10px  solid #D8A7CA; */
    /* box-sizing:border-box; */

}
.block-item p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    padding:20px;
}
.container img{
    width: 100%;
    height:300px;
}